@use '../colors' as col;
@use '../media' as mix;

.nav{
    .container{
        display: flex;
        justify-content: space-between;
        padding-top: 1rem;
     
       
    }

    &__logo{
        height:2rem ;
        margin-bottom: .8rem;
        @include mix.breakpoint-up (medium){
        height: 3.5rem;
       }
    }
    &__mobile__menu{
     background-color: col.$color-yellow ;
     padding: 8px 6px;
     display: flex;
     flex-direction: column;
     gap: 5px;
      span {
        display: block;
        height: 2px;
        width: 1.25rem;
        background-color: col.$color-white;
      }
    }

    &__desktop__menu{
      display: flex;
      height: 100%;
      list-style: none;
      align-items: flex-end;
      justify-content: center;
    

      li{
        padding-bottom:.8rem ;
        // transparent borders makes them easier to animate later
        border-bottom: 3px solid rgba(0, 0, 0, 0);
      }
 


      .active{
        color: col.$color-yellow;
        border-color:col.$color-yellow; ;
      }

      a{
        padding: 0 2rem;
        text-decoration: none;
        color: col.$color-black;
     


      }
    }
}